.selectedLink {
    background-color: blue;
    color: white;
}

.expandedImage {
    width: 100%;
}

body main .projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
body main .projects .project {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    margin-top: 30px;
    
}
body main .projects .project img {
    object-fit: contain;
    width: 80%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
}
body main .projects .project p {
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}
body main form #submitButton {
    width: 40%;
    font-size: 3rem;
    padding: 10px;
    align-self: center;
}

@media(min-width:900px){
    body main .homePage {
        max-height: 100%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        gap: 5rem;
    }
    body main .homePage p {
        align-self: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
    }
    body main .homeH1 {
        display: block;
        width: 75%;
    }
    body main .homePage img {
        max-width: 35%;
    }
    
}
@media(max-width: 900px){
    body main .homepage {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    body main .homePage img {
        object-fit: contain;
        max-width: 90%;
    }
    body main .homePage p {
        align-self: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
    }
    body main .projects .project img {
        width: 125%;
        padding: 0;
    }
}