@import "components.css";
@import "mobile.css";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    width: 100vw;
    height: 100vh;
}
body header {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    background-color: rgb(0,0,0,0.5);
}
body header h1 {
    border: 1px solid black;
    width: 40%;
    text-align: center;
    overflow: hidden;
}
body header nav{
    width: 50%;
}
body header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
body header nav ul li {
    width: 100%;
    background-color: red;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}
body main {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    overflow-y: scroll;
    gap: 10rem;
    padding: 30px;
    
}
body footer {
    text-align: center;
    background-color: gray;
    bottom: 0;
    position: fixed;
    width: 100%;
}
main::-webkit-scrollbar {
    background-color: lime;
    width: 10px;
}
main::-webkit-scrollbar-thumb {
    background-color: darkgreen;
}
#contactForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

@media(min-width: 900px){
    header img {
        display: none;
    }
}