@media(max-width: 920px) {
    .header {
        display: flex;
        max-width: 100vw;
        height: 8vh;

        .h-child-one {
            img {
                display: none;
            }
        }
        .h-child-three {
            input {
                display: none;
            }
        }

    }
    main {
        max-height: 90vh;

        .home {
            flex-direction: column;
            height: 120%;
            .landingPage {
                flex-direction: column;
                justify-content: unset;
                align-items: unset;
                max-width: 100vw;
                .text {
                    flex-direction: row;
                    width: 100%;
                    h1 {
                        font-size: 2rem;
                    }
                    h6 {
                        
                    }
                }
                
            }
        }
    }
}