<h1>Projects</h1>

<div class="projects">
    <h2>Todo List</h2>
    <div class="project">
        <img src="images/TodoList.jpg" alt="Todo List Application">
        <p>This is a project I've recently created to keep a list of things to do. I plan to add storage functionality to it. Here's the link if you want to use it:
             <a href="https://www.todolist.claussydesigns.com">Here</a>
        </p>
    </div>
    <h2>Rush Trivia Quiz</h2>
    <div class="project">
        <img src="images/RushTriviaQuiz.jpg" alt="Rush Trivia Quiz">
        <p>This is a trivia that I came up with originally written in Ruby link <a href="https://github.com/RugerClaus/New-to-Ruby/blob/master/RushTrivia0.0.6.rb">here</a>.
            I have since done it in JavaScript to make it graphically powered. It keeps track of score and displays it at the end of the quiz. The wrong answers will turn red
            upon being clicked, and the correct answer will turn blue. <a href="https://www.rushtrivia.claussydesigns.com">Here</a>'s the link!
        </p>
    </div>
</div>

