<h1>Websites</h1>

<div class="websites projects">
    <div class="website project">
        <img class="projectImage" src="images/reinamezastudios.jpg" alt="reina meza studios">
        <p>
            This is a website I created for my girlfriend, a photographer working out of Salt Lake City, Reina Meza. The website was built
            using the open source ReactJS JavaScript library from Meta Inc. It includes sliders and makes use of basic hooks, and compiled SASS
            CSS. <a href="https://www.reinamezastudios.com" target="_blank">Reina Meza Studios</a>
        </p>
    </div>
</div>