@import url('../animations/animations.css');
@import url('../mobile/mobile.css');

*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    height: 10vh;

    .h-child-one {
        grid-column: 1;
        display: flex;
        justify-content: center;

        .github {
            max-width: 100px;
        }
    }
    .h-child-two {
        display: flex;
        justify-content: center;
        grid-column: 2;
    }
    .h-child-three {
        display: flex;
        justify-content: center;
        grid-column: 3;
        gap: 1.5rem;

        input {
            border: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            padding: 5px;
        }
    }
}

main {
    height: 90vh;
    
    
    .home {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        animation: fadeIn 1s;
        color: white;
        background-color: black;
        img {
            height: 80%;
        }
    }
}

.pageActive {
    background-color: cyan;
}