@import url('../animations/animations.css');
@import url('../mobile/mobile.css');

*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    scroll-behavior: smooth;
}

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    height: fit-content;
    overflow: hidden;

    .h-child-one {
        grid-column: 1;
        display: flex;
        justify-content: center;

        .github {
            max-width: 100px;
        }
    }
    .h-child-two {
        display: flex;
        justify-content: center;
        grid-column: 2;
    }
    .h-child-three {
        display: flex;
        justify-content: center;
        grid-column: 3;
        gap: 1.5rem;

        input {
            border: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            padding: 5px;
        }
    }
}

main {
    height: 87vh;
    
    
    .home {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        animation: fadeIn 1s;
        color: white;
        background-color: black;
        overflow-y: scroll;
        
        .landingPage {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            img {
                height: 80%;
            }
            .text {
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5rem;
                animation: fadeIn 8s;
            }
        }
        h1 {
            font-size: 5rem;
            animation: fadeIn 3s;
        }
        h2 {
            font-size: 2rem;
        }
        .skills {
            min-height: 100vh;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            .labels {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                
            }
            .skillList {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 1rem;
                gap: 2rem;
            }
        }
    }
    .portfolio {
        background-color: aqua;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        height: 100%;
        min-width: 100vw;
        animation: fadeIn 1s;
        overflow-y: scroll;
        overflow-x: hidden;
        .blurb {
            min-height: 100vh;
            width: 100vw;
            background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            padding: 20px;
            a {
                display: flex;
                width: 50%;
                height: 50%;
                justify-content: center;
            }
        }
        .slumdweller {
            height: 100vh;
            width: 100%;
            background-color: aquamarine;
            .imageWrapper {
                height: 40%;
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                .image {
                    height: 100%;
                }
            }
        }
        .rms {
            height: 100vh;
            width: 100%;
            background-color: coral;
            .imageWrapper {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                height: 40%;
                .image {
                    height: 100%;
                }
            }
        }
    }
    .services {
        background-color: rgb(56, 253, 132);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        animation: fadeIn 1s;
    }
}

.pageActive {
    background-color: cyan;
}